/* ~/.config/waybar/style.css */
window#waybar {
    background: #1e1e1e;
    border-bottom: 2px solid #4C7899;
    color: #ffffff;
    font-family: "monospace";
    font-size: 13px;
}

#workspaces button {
    padding: 0 5px;
    color: #ffffff;
}

#workspaces button.active {
    background-color: #4C7899;
    border-bottom: 3px solid white;
}


/* Target all modules */
.modules-left > widget > label,
.modules-center > widget > label,
.modules-right > widget > label,
.modules-left > widget > box,
.modules-center > widget > box,
.modules-right > widget > box {
    margin: 0 5px; /* Adds 5px space to the left and right of every module */
}

#mpd {
    color: #66cc99; /* Green */
}

#mpd.paused {
    color: #2E6F40; /* Dark Green */
}

#pulseaudio {
    color: #fab387; /* Orange */
}

#network {
    color: #89dceb; /* Sky Blue */
}

#cpu {
    color: #f38ba8; /* Red */
}

#memory {
    color: #cba6f7; /* Purple */
}

#clock {
    color: #f9e2af; /* Yellow */
}
